@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1650px)
	/**/
	.hero:after 
		transform: translateY(145px) translateX(-50%)
	.hero-wrapper
		padding-bottom: 157px
	.hero__illustration
		bottom: -145px

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.hero__illustration-item
		width: 29.5vw 
		height: 36.9vw
		border-radius: 12.6vw 3.4vw
	.hero__title
		font-size: 50px
	.hero__content-wrapper 
		width: 530px
	.hero__text
		font-size: 18px
		width: 300px
	.hero 
		padding-top: 26vw
	.features .features__item .features__item-image
		width: 28vw
		height: 34vw
		border-radius: 10.6vw 2.8vw 10.6vw 2.8vw
	.priorities__content 
		padding-left: 30px 
		padding-right: 30px
	.reviews__item .reviews__text
		font-size: 20px
	.reviews__item-content
		padding-left: 36px
	.reviews__item.reviews__item--reverse
		.reviews__item-content
			padding-left: 40px
			padding-right: 20px
	.join-section 
		overflow: hidden
	





/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.hero__illustration
		position: static
	.hero__illustration-item:nth-child(2)
		margin-left: 0
		margin-top: 0
	.hero__content-wrapper
		width: 100%
	.hero__title
		text-align: center
	.hero
		padding-top: 140px
	.hero__illustration
		display: flex
		flex-direction: row-reverse
		justify-content: center
		padding-top: 5vw
	.hero__illustration-item
		width: 44.27vw
		height: 55.2vw
		border-radius: 17.6vw 4.8vw 17.6vw 4.8vw
	.hero__illustration-item:nth-child(2)
		margin-top: 11.73vw
		transform: translateX(5vw)
	.hero__illustration-item:first-child
		transform: translateX(-5vw)
	.hero__text
		width: 100% 
		text-align: center
	.hero__content-wrapper
		display: flex
		flex-direction: column
		align-items: center
	.hero__text
		margin-top: 5vw
	.hero::after
		height: 120%
		transform: translateY(8vw) translateX(-50%)
	.hero-wrapper
		padding-bottom: 8vw
	.hero__title-accent 
		display: block
	.hero__title-accent::before
		background-size: 260px
	.hero__title
		font-size: 54px
	.h3
		font-size: 33px	
	.features__item
		p 
			font-size: 20px
	.reviews__list
		flex-direction: column
	.reviews .reviews__item
		width: 100%
		margin-bottom: 22px
	.join-images-row
		img
			margin-left: 0.27vw
			margin-right: 0.27vw
		img:first-child
			width: 12vw
			height: 14.4vw
			border-radius: 4vw 2vw 4vw 2vw
		img:nth-child(3)
			width: 36.53vw 
			height: 44.53vw
			border-radius: 0vw 8vw 2vw 8vw
		img:nth-child(2)
			width: 17.33vw
			height: 30.67vw
			border-radius: 2vw 10vw 3vw 10vw
		img:nth-child(4)
			width: 17.33vw
			height: 30.67vw
			border-radius: 0px 10vw 3vw 10vw
		img:nth-child(5)
			width: 12vw
			height: 14.4vw
			border-radius: 4vw 0vw 4vw 2vw
	.hero.hero--contact-us .h1
		top: 35px
	.why-telegram__item .why-telegram__item-content
		width: 80vw
	.why-telegram__item-icon
		width: 12.8vw
		height: 12.8vw 
		min-width: 12.8vw
		img 
			max-width: 45%
	.why-telegram__item .why-telegram__item-content 
		padding: 8.53vw 10vw
		border-radius: 26.67vw 5.33vw 26.67vw 5.33vw
	.why-telegram__item-content 
		margin-left: 0
	.why-telegram__item 
		padding-top: 6.4vw
	.why-telegram-section 
		padding-top: 5vw
	.why-telegram__item-content 
		margin-left: -2vw
	.hero.hero--why-telegram
		.hero-about-us__text
			br 
				display: none
	.faq__item-header
		font-size: 34px
		padding-left: 70px
	

		
	
	



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	//start header style
	.header
		.container
			position: relative
	.header__menu-button
		display: block
	.header__menu-row	
		width: 24px
		height: 2px
		margin-bottom: 5px
		border-radius: 20px
		background-color: #FA4F58
		transition: all 0.3s ease
	.header__menu-row:last-child 
		margin-bottom: 0
	.header__menu
		display: none
	.header__menu-button.active
		.header__menu-row:nth-child(1)
			transform: rotate(45deg)
			position: relative
			top: 5px
		.header__menu-row:nth-child(2)
			display: none
		.header__menu-row:nth-child(3)
			transform: rotate(-45deg)
			position: relative
			top: -2px
	.header 
		z-index: 999
	.header.active
		.container
			background: rgba(255,255,255,1)
			border-bottom-left-radius: 80px
			border-bottom-right-radius: 80px
			border-top-left-radius: 80px
			border-top-right-radius: 80px
			border: none
			position: relative			
	.header.active::before
		content: ''
		width: 89.87vw
		height: 30px 
		background: #ffdada 
		bottom: -5vw 
		left: 50% 
		transform: translateX(-50%)
		position: absolute
		z-index: -1
	.header__menu.active
		display: block
		position: absolute
		position: absolute 
		top: 101%
		left: 0
		width: 100% 
		background: #FFDADA
		z-index: 99
		padding-bottom: 60px
		border-bottom-left-radius: 30px
		border-bottom-right-radius: 30px
	.header.active .container 
		background: #FFEDED
		border: 1px solid #fff
	.header__menu-list 
		flex-direction: column
	.header__menu-list .header__menu-item 
		margin-left: 0
		margin-top: 30px 
	//end header style
	
	//start features-section style
	.features
		flex-direction: column
		align-items: center
		.features__item
			width: 100%
			padding-top: 10.67vw
	.features__item:nth-child(2)
		margin-top: 0
	.features
		padding-top: 0
	.features .features__item .features__item-image
		width: 64.8vw
		height: 76.8vw
		border-radius: 28vw 7.5vw 28vw 7.5vw
	.h2 
		font-size: 8.53vw
		background-size: 53.33vw
		padding-bottom: 5.5vw
	.features-section .h2
		margin-bottom: 0
	
	//end features-section style

	//start priorities section style
	.priorities__item
		flex-direction: column
		width: 100%
		max-width: 100%
	.priorities__illustration
		width: 100%
		max-width: 100%
	.priorities__content-wrapper
		width: 100% 
		max-width: 100%
	.priorities__content
		width: 100% 
		max-width: 100%
		padding-left: 0 
		padding-right: 0
	.priorities__item.priorities__item--reverse
		flex-direction: column-reverse
	.priorities__item .h3
		margin-top: 24px
		margin-bottom: 16px

	
	//end priorities section style
	.hero-about-us__text 
		font-size: 44px
	.header__menu-list .header__menu-item a
		color: #000
		font-family: $secondary-font
		font-size: 26px
		font-style: italic
		font-weight: 700
		line-height: 120%
	.header__menu-list .header__menu-item
		position: relative
		padding-bottom: 25px
	.header__menu-list .header__menu-item:after 
		content: ''
		width: 22px 
		height: 2px 
		background: #000
		position: absolute 
		bottom: 0
		left: 50% 
		transform: translateX(-50%)
	//start sticky header
	.header 
		transition: all 0.3s ease
	.header.sticky
		position: fixed
		top: 0
		left: 0
		width: 100%
		z-index: 1000
		padding-top: 3vw 
		padding-bottom: 3vw
	.header.sticky
		position: fixed
		top: 0
		left: 0
		width: 100%
		z-index: 1000
		padding-top: 3vw
		padding-bottom: 3vw
		.container 
			background: #fff
	.button--fixed
		display: flex
		justify-content: center 
		align-items: center
		position: fixed
		bottom: 3vw
		left: 50% 
		transform: translateX(-50%)
		width: 91.47vw
		z-index: 1000
	.footer 
		padding-bottom: 22vw


//end sticky header
/* Extra Small Devices, Phones */
@media only screen and (max-width : 530px)
	/**/
	//start global style 
	body 
		font-size: 5.33vw
	.button 
		padding: 2.4vw 6.67vw
		font-size: 4.8vw
		img 
			width: 9.07vw
			margin-left: 3vw
	.h3 
		font-size: 6.93vw

	//end global style 

	//start header style
	.header 
		top: 0
		padding: 8.53vw 0
		.container
			padding: 4vw 7vw
	.header__logo
		img
			width: 58vw
	.header__menu-row
		width: 6.4vw
		height: 0.53vw
		margin-bottom: 1.6vw
		border-radius: 1.2vw
	.header__menu-button.active
		.header__menu-row:nth-child(1)
			top: 0.9vw
		.header__menu-row:nth-child(3)
			top: -1.2vw
	.header__menu.active
		padding-bottom: 12vw
	.header__menu-list .header__menu-item 
		margin-top: 5vw 
	//end header style

	//start hero style 
	.hero
		padding-top: 38.4vw
	.hero__title 
		font-size: 10.67vw
	.hero__title-accent
		display: block	
	.hero__title-accent::before
		width: 100%
		margin-left: auto
		margin-right: auto
		background-size: 61.33vw
	.hero__text
		font-size: 6.4vw
		margin-bottom: 4.27vw
		p 
			margin-top: 0 
			margin-bottom: 0
	.hero 
		.button 
			width: 100%
			justify-content: center
	.hero__safe
		margin-top: 4.27vw
		font-size: 4.27vw
	//end hero style
	
	//star cta style
	.cta 
		display: none
	//end cta style

	//start features-section style
	.features .features__item .h3 
		margin-top: 6.4vw 
		margin-bottom: 4.27vw
	.features__item p 
		font-size: 5.33vw
	.features-section 
		padding-top: 16vw
		padding-bottom: 20.8vw
	//end features-section style

	.priorities__item .h3
		margin-top: 6.4vw
		margin-bottom: 4.27vw
	.priorities__item
		margin-top: 10.67vw
	.priorities
		padding-bottom: 22.13vw
	.priorities__item .h3 
		text-align: center
	.priorities__content-wrapper
		p 
			text-align: center
	.reviews__item-content
		padding: 8.53vw 10.67vw
		padding-bottom: 15vw
	.reviews .reviews__item
		margin-bottom: 5.87vw
	.reviews__item .reviews__text
		font-size: 6.4vw
		line-height: 130%
	.reviews__header-image
		width:  22.4vw
		min-width:  22.4vw
		height:  22.4vw
	.reviews__header-wrapper
		font-size: 4.27vw
	.reviews__header-rating 
		img
			width: 31.2vw
	.reviews__header 
		margin-bottom: 4.27vw
	.reviews__item
		border-radius: 10.67vw 40vw 
	.reviews__item--reverse .reviews__item-content
		border-radius: 40vw 10.67vw
	.reviews
		padding-top: 8vw 
		padding-bottom: 16vw
	.reviews .h2 
		margin-bottom: 4.27vw
	.footer__menu-bottom a
		font-size: 3.47vw
	.footer__menu-bottom span
		width: 0.53vw 
		height: 0.53vw
	.footer__copyright
		font-size: 4.27vw
	.footer
		padding-bottom: 22vw
	.footer__copyright 
		margin-top: 4.27vw
	.footer__menu-bottom 
		padding-top: 8.53vw
	.footer__line 
		margin-top: 8.53vw
	.footer__menu-link 
		font-size: 4.27vw
	.footer__logo 
		margin-bottom: 5.33vw
	//start about-us style
	.hero-about-us__text 
		font-size: 8.53vw
	.hero-about-sub-text
		font-size: 6.4vw
	.hero.hero--about-us
		padding-top: 38.4vw
	.hero.hero--about-us .h1 
		margin-bottom: 10.67vw
	.hero-about-us__text 
		margin-bottom: 10.67vw
	.hero-about-sub-text 
		line-height: 130%
		margin-bottom: 10.67vw
	.hero--about-us
		padding-bottom: 8vw
	.hero::after
		border-radius: 0 0 55% 55%
	.mission-section 
		padding-top: 16vw
		padding-bottom: 16vw
	.mission-section .h2 
		margin-bottom: 8.53vw
	//end about-us style
	.h2--secondary
		margin-bottom: 0
	.join-images-row
		margin-bottom: 10.67vw
	.hero.hero--contact-us 
		padding-bottom: 2vw
	.contact-item
		font-size: 5.33vw
	.contact-icon 
		width: 10vw
		min-width: 10vw
		height: 10vw
	.contact-icon 
		margin-right: 2.2vw
	.contact-item
		padding: 6.4vw
	.contact-us__sub-footer
		margin-top: 12.8vw
	.contact-us__sub-title 
		margin-top: 12.8vw 
		margin-bottom: 6.67vw
	.contact-us__sub-footer 
		font-size: 4.27vw
	.header.active::before 
		height: 20vw
	.why-telegram__item .h3 
		margin-bottom: 2.13vw
	.why-telegram-section 
		padding-bottom: 20vw
	.faq__item-header
		font-size: 6.93vw
		border-radius: 40vw 10.67vw 40vw 10.67vw
	.faq__item-header
		padding: 6.4vw 8.53vw  6.4vw 15vw
	.faq__item-icon
		img
			width: 6vw
			min-width: 6vw
	.faq-section 
		padding-top: 8vw
	.faq__item-content
		padding: 28vw 6.4vw 10.67vw 6.4vw
	.hero.hero--faq .h1 
		margin-bottom: 0
	.faq__item
		margin-bottom: 6.4vw
	.faq-section 
		padding-bottom: 13.33vw





/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
			width: 6.4vw
	.reviews__header-wrapper
		margin-bottom: 2.13vw
	.reviews__header-name
		margin-right: 2.13vw
	.reviews__header-date
		font-size: 6.4vw

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/
	.header__menu
		display: block
@media only screen and (max-height: 700px)
	.get-vip .header
		padding-top: 15px
		padding-bottom: 15px
		margin-bottom: 15px
	.sub-title 
		margin-bottom: 20px
	.get-vip h1
		font-size: 26px
	.title-text
		font-size: 28px
	.content__header:nth-child(2) .content__header-text
		font-size: 16px
		margin-bottom: 20px
	.title-text
		margin-bottom: 15px
	.get-vip .item
		padding-top: 10px
		padding-bottom: 10px
	.get-vip h1 
		margin-top: 0 
		margin-bottom: 0
@media only screen and (max-height: 790px)
	.get-vip .header.header--2
		padding-top: 0px 
		padding-bottom: 0px
@media only screen and (max-height: 770px)
	.get-vip .header.header--2
		padding-top: 0px 
		padding-bottom: 0px
	.page-wrapper 
		padding-top: 0px
	.page-wrapper h2 
		margin-bottom: 0px
	.gift-list 
		margin-bottom: 0px
	.button--secondary
		margin-top: 0px
@media only screen and (max-height: 730px)
	.gift-image-wrapper
		max-height: 25vw
		max-width: 25vw
	.gift-item
		max-width: 25vw
	.gift-list
		justify-content: center
	.page-wrapper h2 
		font-size: 26px
	
@media only screen and (max-height: 600px)
	.get-vip h1
		font-size: 26px
	.get-vip .header
		display: none
	.title-text
		font-size: 28px
	.content__header:nth-child(2) .content__header-text
		font-size: 16px
		margin-bottom: 30px
	.get-vip .title-text,
	.get-vip h2
		margin-bottom: 25px
		background: linear-gradient(135.19deg, #FF3720 15.85%, #EB2852 92.58%)
		padding-top: var(--tg-content-safe-area-inset-top)
		padding-top: 15px
		padding-bottom: 15px
		padding-left: 4vw
		padding-right: 4vw
	.page-wrapper
		padding-top: 0
	.get-vip .item
		padding-top: 10px
		padding-bottom: 10px
	.get-vip .content.wrapper .container,
	.get-vip .content.premium-wrapper .container
		width: 100vw
		max-width: 100vw
	.get-vip .items-list,
	.get-vip .list-title,
	.get-vip .premium__list
		padding-left: 4vw
		padding-right: 4vw
	.container
		width: 100vw
	.button--secondary
		width: 92vw
	.header.header--2 
		display: block
	.get-vip .page-wrapper h2 
		background: transparent
		margin-bottom: 0