@import "vars"
@import "fonts"

//start global style
body *
    box-sizing: border-box
body
    background-color: $background-color
    padding: 0 
    margin: 0
    font-family: $main-font
    font-size: $font-size
    font-weight: $font-weight
    line-height: $line-height
    color: $font-color
    min-height: 2000px
p 
    margin-top: 0 
    margin-bottom: 0
.container 
    width: $container-width
    margin: 0 auto
    max-width: 91.47vw
.button 
    background: $blue
    color: #fff
    font-size: 18px
    text-decoration: none
    font-weight: 700
    padding: 7.5px 23px
    display: inline-flex
    align-items: center
    border-radius: 1000px
    box-shadow: 4px 4px 50px 0 rgba(228, 122, 124, 0.29)
    transition: all 0.3s ease
    img 
        margin-left: 17px
.button:hover 
    background: #fff
    color: $blue
    box-shadow: 4px 4px 50px 0 rgba(228, 122, 124, 0.8)
.button--white
    background: #fff
    color: $blue
.button--white:hover 
    background: $blue
    color: #fff
    box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.8)
.h2
    font-size: 56px
    font-weight: 700
    line-height: 120%
    font-family: $secondary-font
    text-align: center
    padding-bottom: 34px
    background: url(../img/lines2.svg) no-repeat bottom center
    margin-top: 0 
    margin-bottom: 0
.h3
    color: $titles-color
    text-align: center
    font-family: $secondary-font
    font-size: 44px
    font-style: italic
    font-weight: 700
    line-height: 120%
    margin-top: 0 
    margin-bottom: 0
//end global style

//start header style
.header
    padding: 0px 0
    position: absolute 
    top: 32px
    left: 0
    width: 100%
    z-index: 100
    .container
        display: flex
        justify-content: space-between
        align-items: center
        width: $header-container-width
        max-width: 89.87vw
        padding: 11.6px 37px
        border-radius: 80px
        border: 1px solid rgba(255, 255, 255, 0.63)
        background: rgba(255, 255, 255, 0.50)
        backdrop-filter: blur(30px)
.header__menu-list
    display: flex
    align-items: center
    list-style: none
    margin: 0
    padding: 0
    .header__menu-item
        margin-left: 44px
        a
            text-decoration: none
            color: $font-color
            font-size: 18px
            font-weight: 400
            line-height: 140%
            text-transform: uppercase
            text-transform: capitalize
            &:hover
                color: $secondary-color
.header__logo
    display: flex 
    align-items: center 
//end header style

//start hero style
.hero-wrapper
    position: relative
    overflow: hidden
    padding-bottom: 8vw
.hero 
    padding-top: 230px
    padding-bottom: 0px
    background: linear-gradient(255deg, #E3F3F5 16.48%, #EDE4E2 38.74%, #FBD1D1 61.34%, #FBEBD9 85.59%)
    position: relative
    &::after
        content: ''
        position: absolute
        bottom: 0px
        left: 50%
        min-width: 133.33vw
        width: 1920px
        height: 1000px
        background: inherit
        transform: translateY(8vw) translateX(-50%)
        border-radius: 0 0 45% 45%
.hero__content
    z-index: 101
    position: relative
.hero__title
    font-size: 64px
    font-weight: 700
    font-family: $secondary-font
    line-height: 110%
    max-width: 100%
    margin-bottom: 0 
    margin-block: 0
.hero__title-accent
    font-weight: 400
    font-style: italic
    position: relative
    z-index: 12
.hero__title-accent::before
    content: ''
    position: absolute
    top: 85%
    left: 0
    width: 100%
    height: 19px
    background: url(../img/lines.svg) no-repeat center center
    background-size: 100%
    z-index: -1
    pointer-events: none
.photo-masked
    &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 150px 40px
        background: linear-gradient(184deg, rgba(243, 183, 185, 0.00) 32.62%, rgba(228, 120, 122, 0.91) 89.56%)
        pointer-events: none
        mask: url(#photoMask)
        -webkit-mask: url(#photoMask)
.hero .container 
    position: relative 
.hero__illustration 
    position: absolute 
    right: 0 
    bottom: -8.1vw
.hero__illustration-item:nth-child(2)
    margin-top: -50%
    margin-left: -209px
.hero__content-wrapper
    width: 697px 
.hero__text 
    width: 461px
    max-width: 100%
    font-size: 32px
    line-height: 140%
    margin-bottom: 32px
.hero__safe
    font-size: 16px 
    font-weight: 500
    margin-top: 44px
.hero__illustration-item-img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
.hero__illustration-item
    width: 351px 
    height: 440px
    border-radius: 150px 40px 150px 40px
    overflow: hidden
    position: relative
.hero__illustration-item:first-child::after 
    content: ''
    width: 100% 
    height: 100% 
    background: linear-gradient(184deg, rgba(243, 183, 185, 0.00) 32.62%, rgba(228, 120, 122, 0.91) 89.56%)
    z-index: 11
    position: absolute 
    top: 0
    left: 0
.hero__illustration-item:nth-child(2)
    z-index: 100
.hero__illustration-item:nth-child(2)::after
    content: ''
    width: 100% 
    height: 100%
    background: linear-gradient(188deg, rgba(243, 183, 185, 0.00) 50.52%, rgba(228, 120, 122, 0.66) 95.74%)
    z-index: 11
    position: absolute 
    top: 0
    left: 0
//end hero style

//start cta style
.cta-section
    display: flex
    justify-content: center
    position: relative
    transition: opacity 0.3s ease-in-out
    
    &.sticky
        position: fixed
        bottom: 0
        left: 0
        width: 100%
        z-index: 1000
        
    &.hidden
        opacity: 0
        pointer-events: none
.cta 
    z-index: 999
    display: inline-flex 
    align-items: center
    border-radius: 80px
    background: #FE6263
    margin-left: auto 
    margin-right: auto
    transform: translateY(-50%)
    box-shadow: 0 0 10px 0 rgba(223, 83, 51, 0.43), -10px -5px 93.2px 0 rgba(255, 170, 130, 0.37)
    padding: 10px 20px
    .cta__title
        font-size: 24px
        font-weight: 700
        color: #fff
        margin-right: 20px
.cta__title
    font-size: 30px 
    font-weight: 600
//end cta style

//start features-section style
.features-section
    padding-top: 75px
    padding-bottom: 159px
    .h2 
        margin-bottom: 50px
.features
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding-top: 220px
    .features__item
        width: 32%
        text-align: center
        display: flex 
        justify-content: center
        flex-direction: column
        .h3
            margin-top: 22px 
            margin-bottom: 16px
        .features__item-image
            width: 365px
            height: 432px
            object-fit: cover
            overflow: hidden
            border-radius: 150px 40px 150px 40px
            position: relative
            margin-left: auto 
            margin-right: auto
            max-width: 100%
            img 
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center
.features__item-image:after 
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(188deg, rgba(243, 183, 185, 0.00) 50.52%, rgba(228, 120, 122, 0.66) 95.74%)
.features__item:nth-child(2)
    margin-top: -220px
//end features-section style

//start priorities section style
.priorities__illustration
    width: 558px
    max-width: 50%
    img 
        max-width: 100%
.priorities__item
    display: flex
    align-items: center
    margin-top: 60px
.priorities__content
    width: 50%
    text-align: left
    .h3 
        text-align: left
.priorities__content-wrapper
    width: 464px 
    max-width: 100%
    margin-left: auto 
.priorities__item--reverse
    .priorities__content-wrapper
        margin-left: 0
        margin-right: auto
.priorities
    position: relative
    overflow: hidden
    padding-bottom: 226px
    
    &::after
        content: ''
        position: absolute
        bottom: 0
        left: 50%
        width: 1920px
        min-width: 133.33vw
        height: 70%
        background: linear-gradient(180deg, rgba(227, 243, 245, 0) 1.44%, #FEF4EA 21.22%, rgba(227, 243, 245, 0.38) 32.83%, #EDE4E2 51.32%, #FBD1D1 72.19%, #FBEBD9 100%)
        transform: translateX(-50%)
        border-radius: 0 0 50% 50%
        z-index: -1 
.priorities__item
    .h3 
        margin-bottom: 16px  
//end priorities section style

//start reviews section style
.reviews
    padding-top: 100px
    padding-bottom: 100px
    .h2 
        margin-bottom: 50px
    .reviews__item
        display: flex
        width: 32%
.reviews__list
    display: flex 
    justify-content: space-between
    align-items: flex-start
.reviews__item-content
    border-radius: 40px 150px
    border: 1px solid rgba(122, 89, 102, 0.04)
    background: #FE6263
    width: 100%
    padding: 32px 40px
    color: #fff
.reviews__header 
    display: flex 
    align-items: center
    margin-bottom: 16px
.reviews__header-image
    width: 84px 
    min-width: 84px
    height: 84px
    border-radius: 50%
    overflow: hidden
    margin-right: 16px
    img 
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
.reviews__header-wrapper
    display: flex
.reviews__header-wrapper 
    margin-bottom: 3px
    font-size: 16px
.reviews__header-name
    margin-right: 7px
.reviews__header-date 
    font-weight: 400
    color: #FEFAF5
    opacity: 0.8
.reviews__text
    text-align: right
.reviews__item--reverse
    .reviews__item-content
        border-radius: 150px 40px 150px 40px
    .reviews__header
        display: flex
        justify-content: flex-end
    .reviews__text
        text-align: left
//end reviews section style

//start footer style
.footer 
    text-align: center
    padding-bottom: 26px
.footer__menu 
    display: flex 
    justify-content: center
    align-items: center
    span 
        width: 3px 
        height: 3px
        border-radius: 50%
        background: #141320
        margin-left: 16px
        margin-right: 16px
        position:  relative
        top: 2px
.footer__menu-list 
    display: flex 
    justify-content: center 
    align-items: center
    list-style: none 
    padding: 0
    margin: 0
.footer__menu-link
    font-size: 16px 
    text-decoration: none
    color: #141320
    &:hover
        color: $secondary-color
.footer__menu-bottom-link 
    font-size: 16px 
    color: #2E2323
    opacity: 0.5
.footer__menu-bottom 
    display: flex 
    align-items: center
    justify-content: center
    padding-top: 32px
    a 
        text-decoration: none
    span 
        width: 3px 
        min-width: 3px
        height: 3px
        background: #2E2323
        opacity: 0.5
        display: block 
        border-radius: 50%
        margin-left: 7px 
        margin-right: 7px
        position: relative
        top: 2px
.footer__line
    width: 400px 
    height: 1px 
    background: #2E2323
    opacity: 0.2
    margin-left: auto 
    margin-right: auto
    margin-top: 32px
    max-width: 100%
.footer__copyright 
    font-size: 16px 
    line-height: 140%
    color: #2E2323
    opacity: 0.5
    margin-top: 16px
.footer__logo
    margin-bottom: 20px
//end footer style

@import "media"



